@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .aspect-thumbnail {
    aspect-ratio: 1 / 0.75;
  }
  .filter-icon-red {
    filter: invert(45%) sepia(90%) saturate(4687%) hue-rotate(339deg)
      brightness(110%) contrast(98%);
  }

  .filter-icon-white {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(329deg)
      brightness(108%) contrast(108%);
  }
  .filter-bookmark-icon {
    filter: none;
  }
  .bookmark-icon-container:hover .filter-bookmark-icon {
    filter: brightness(0) saturate(100%) invert(5%) sepia(5%) saturate(5703%)
      hue-rotate(185deg) brightness(102%) contrast(94%);
  }

  .bg-play {
    background-color: hsl(0, 0%, 59%);
  }

  .play-btn-triangle {
    background: red;
    width: 16px;
    height: 16px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    border: 2px solid red;
    transform: rotate(90deg);
  }

  .slider-item-desktop {
    width: calc(33% - 18px);
  }

  .slider-item-tablet {
    width: calc(50% - 18px);
  }
}

.slider-container:hover .slider-btn-group > button {
  display: flex;
}

.visibility-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
